.intro-main-body {
  padding: 15em 15em;
  padding-bottom: 200px;
  max-height: auto;
  width: 70%;

}

.p1 {
  padding-bottom: 0%;
  margin: 0;
  color: #64ffda;
  font-family: 'Fira Mono', monospace;
}

.p2 {
  font-size: 450%;
  padding-top: 0%;
  margin: 0;
  font-weight: bold;
  color: #ccd6f6;
}

.p3 {
  font-size: 350%;
  margin: 0;
}


@media screen and (max-width: 600px) {
    .intro-main-body {
        
    }
  }