.nav-div{
    display: flex;
    font-size: .9rem;
    justify-content: flex-end;
    padding-right: 2%;
    transition: color 15s;
    background: transparent;
}

.main{
    background: transparent;
    position:fixed;
    right: 0%;
    width: 100%;
    backdrop-filter: blur(4px);
}

.main.active{
    background: #9c1616;
    position:fixed;
    right: 0%;
}

.list-item{
    padding : 2% 2%;
}

.highlight{
    color: #64ffda;
}

.list-item:hover{
    color: #64ffda;
}