.nav-div{
    display: flex;
    font-size: .9rem;
    justify-content: flex-end;
    padding-right: 2%;
    width: 100%;
    transition: color 15s;
    background: transparent;
    font-family: 'Fira Mono', monospace;
}

.main{
    background: transparent;
    position:fixed;
    width: 100%;
    top: 0%;
    backdrop-filter: blur(6px);
}

.main.active{
    background: #9c1616;
    position:fixed;
    right: 0%;
}

.list-item{
    padding : 2rem 2rem;
    transition: color .3s;
}

.highlight{
    font-family: 'Fira Mono', monospace;
    color: #64ffda;
}

.list-item:hover{
    color: #64ffda;
}

.home{
    align-self: center;
    padding-left: 2rem;
    margin-right:auto;
    font-size: larger;
   color: #64ffda;
   transition: all .3s;
}

.home:hover{
    text-shadow: 0px 7px 29px    #64ffda;
}

a{
    text-decoration: none;
    color: inherit;
}

@media screen and (max-width: 600px) {
    .nav-div{
       display: none;
    }
    .main{
        display: inline;
        background-color: #16189c;
        height: 40px;
         
    }
}